<!DOCTYPE html>
<html>
    <head>
        <link href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
    </head>
    <body ng-app='app'>
        <div ng-controller='PostsCtrl' class='container'>
            <h1>Recent Posts</h1>
            <form role='form'>
                <div class="form-group">
                    <div class="input-group">
                        <input ng-model="postBody" class="form-control"/>
                        <span class="input-group-btn">
                            <button ng-click="addPost()" class="btn btn-default">Add Post</button>
                        </span>
                    </div>
                </div>
            </form>
            <ul class='list-group'>
                <li ng-repeat='post in posts' class='list-group-item'>
                    <strong>@{{ post.username }}</strong>
                    <span>{{ post.body }}</span>
                </li>
            </ul>
        </div>
        
        <script src='bower_components/jquery/dist/jquery.min.js'></script>
        <script src='bower_components/angular/angular.min.js'></script>
        <script>
            var app = angular.module('app', []);
            app.controller('PostsCtrl', function($scope, $http) {
                
                $scope.addPost = function(){
                    if($scope.postBody){
                        $scope.posts.unshift({
                            username: 'new_guy',
                            body: $scope.postBody
                        });
                        $scope.postBody = null;
                    }
                }
                
                $http.get('http://localhost:3000/api/posts')
                .success(function(posts){
                    $scope.posts = posts;
                })
            })
        </script>
    </body>
</html>